@use 'scss-reset/reset';
@use './_typography';

$bgcolor: rgba(230, 186, 173, 0.493);
$textcolor: darkblue;

body {
    background-color: $bgcolor;
    color: $textcolor;
}

threejs-webpack-ts-boilerplate {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}
